<!DOCTYPE html>
<html>
<head>
    <title>제목</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
		body {
			font-family: sans-serif;
			background-color: #f7f7f7;
			color: #333;
			margin: 0;
			padding: 0;
		}
		header {
			background-color: #333;
			color: #fff;
			padding: 10px;
		}
		h1 {
			margin: 0;
			font-size: 2em;
		}
		main {
			margin: 10px;
			padding: 10px;
			background-color: #fff;
			box-shadow: 0px 0px 5px #ccc;
			border-radius: 5px;
		}
	</style>
</head>
<body>
<header>
    <h1>이재관</h1>
</header>
<main>
    <p>짱이다</p>
</main>
</body>
</html>
